.gold-text {
    color: #FFC60B !important;
}

.bg-dark {
    background-color: #316b88 !important;

}

.header-img {
    background: url(../img/m226659-0002_1901ac_009_1_header9487.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;

}